
.blog {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    
    &__box {
        border: 2px solid #e7e7e7;
        border-radius: 4px;
        padding: 1rem;
    } 

    @media(min-width: 600px){
        padding: 1rem 1rem 8.5rem 1rem;
    }
} 