*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	font-family: 'Arimo', sans-serif;
}


body{
	font-size: 1.6rem;
	box-sizing: border-box;
	margin-bottom: 7rem;
}


@media(min-width: 600px) {
	body {
		margin-bottom: 0;
	}

	main {
		margin-bottom: 5rem;
	}
}

a:link {
	text-decoration: none;
}

@media(min-width: 900px) {

	html {
	background: #8E2DE2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	}
	body {
		background-color: #FFF;
		margin: 0 auto;
		width: 70%;

	}
}